.box {
  display: inline-flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 30px;
}

.label {
  display: inline-flex;
  margin-top: 10px;
  flex-direction: column;
  margin-top: 14px;
  font-weight: bold;
}

.input {
  margin-top: 10px;
  border-radius: 4px;
}
